.navbar {
    .nav-link {
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            transform: translateY(-2px);
        }
    }
}
